.container {
    width: 100%;
    height: 100vh;
    border: none;
    background-color: white;
}

@media screen and (max-width:480px) {
    /*　for iPhone　*/
}

@media screen and (min-width:480px) and (max-width:1024px) {
    /*　for iPad 　*/
}

@media screen and (min-width:1024px) {

    /*　for PC　*/
    .container {
        width: 800px;
        height: 800px;
        margin: 0 auto;
        margin-top: 64px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
        border-radius: 12px;
    }
}