.container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 24px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.userIcon {
    margin-right: 10px;
}