.container {
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.message {
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.return {
    width: 240px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
    border: none;
    background-color: #00838f;
    color: white;
    margin: 0 auto;
    margin: 16px;
    font-size: 16px;
}

.return:hover {
    background-color: #006064;
}