.container {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.top {
  width: 100%;
  background-color: #00838f;
  text-align: center;
}

.bgImage {
  width: 350px;
  margin: 0 auto;
}

.second {
  width: 100%;
  text-align: center;
  background-color: #00838f;
}

.startSecssion {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.force {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.about {
  padding-bottom: 3px;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 2px #000;
}

.detail {
  font-size: 16px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 100%;
}

.form {
  margin: 24px;
}

.name {
  display: block;
  margin: 0 auto;
  background-color: white;
  color: black;
  margin-bottom: 12px;
  width: 300px;
  height: 65px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 #000;
}

.startButton {
  width: 200px;
  height: 70px;
  border-radius: 12px;
  border: 2px solid white;
  background-color: #00838f;
  box-shadow: 0 1px 1px 0 #000;
  color: white;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 18px;
}

.startButton:hover {
  background-color: #006064;
}

.titleSecssion {
  padding-top: 32px;
  margin-bottom: 12px;
  text-align: center;
}


.SplideSession {
  width: 100%;
  height: auto;
  background-color: #F8F4EA;
  padding-top: 24px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #006064;
  text-align: center;
}

.navText {
  width: 350px;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 1px 1px 0 #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
}

.talkIcon {
  display: none;
}

.SplideItems {
  width: 100%;
  padding-bottom: 24px;
}

.bgImage,
.about,
.name,
.startButton {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeup {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.secssionItem {
  background-color: transparent;
}

.secssionText {
  height: 48px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appNameSction {
  font-size: 24px;
}

.appName {
  font-size: 32px;
  font-family: "Courier New";
}

.appName,
.appNameSecsion {
  margin: 12px;
}

.screenImange {
  width: 300px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 #ccc;
  background-color: white;
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 32px;
}

@media screen and (min-width:768px) and (max-width:1024px) {

  .bgImage {
    width: 600px;
    margin: 0 auto;
  }

  .detail {
    font-size: 16px;
    width: 100%;
    height: 200px;
    font-size: 24px;
  }

  .about {
    font-size: 32px;
  }

  .startSecssion {
    width: 100%;
    height: 350px;
  }

}

@media screen and (min-width:1024px) {

  .bgImage {
    width: 1024px;
    margin: 0 auto;
  }

  .detail {
    font-size: 16px;
    width: 100%;
    height: 200px;
    font-size: 24px;
  }

  .about {
    font-size: 42px;
  }

  .startSecssion {
    width: 100%;
    height: 350px;
  }

  .secssionText {
    font-size: 24px;
    height: 100px;
  }

  .screenImange {
    width: 350px;
  }


  .SplideSession {
    padding-bottom: 48px;
  }

  .SplideItems {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .nav {
    width: 50%;
    color: #006064;
  }

  .navText {
    border: none;
    box-shadow: none;
    font-size: 70px;
    background-color: transparent;
  }

  .Splide {
    width: 50%;
  }

  .talkIcon {
    display: block;
    width: 200px;
  }

}