.container {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.top {
  width: 100%;
  background-color: #00838f;
  text-align: center;
}

.bgImage {
  width: 90%;
  margin: 0 auto;
}

.second {
  width: 100%;
  height: 350px;
  text-align: center;
  background-color: #e0f2f1;
}

.third {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.force {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.about {
  padding: 3px;
  font-size: 15px;
  margin-bottom: 5px;
}

.detail {
  font-size: 16px;
  padding: 24px;
}

.form {
  margin: 24px;
}

.name {
  display: block;
  margin: 0 auto;
  background-color: white;
  color: black;
  margin-bottom: 12px;
  width: 300px;
  height: 60px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
}

.startButton {
  width: 200px;
  height: 60px;
  border-radius: 12px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
  border: none;
  background-color: #00838f;
  color: white;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 18px;
}

.startButton:hover {
  background-color: #006064;
}

.titleSecssion {
  padding-top: 32px;
  margin-bottom: 12px;
  text-align: center;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 99%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
  background-color: white;
  border: none;
}

.section {
  border-radius: 6px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 24px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
  background-color: #e0f2f1;
  border: 0.5px solid gray;
}

.label {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appNameSction {
  font-size: 24px;
}

.appName {
  font-size: 32px;
  font-family: "Courier New";
}

.appName,
.appNameSecsion {
  margin: 12px;
}

.screenImange {
  width: 300px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 32px;
}

@media screen and (min-width:768px) and (max-width:1024px) {

  /*　for iPad 　*/

  .bgImage {
    width: 80%;
    margin: 0 auto;
  }

  .second {
    height: 400px;
  }

  .about {
    font-size: 32px;
  }

  .detail {
    font-size: 24px;
  }

}

@media screen and (min-width:1024px) {

  /*　for PC 　*/

  .bgImage {
    width: 50%;
    margin: 0 auto;
  }

  .second {
    height: 400px;
  }

  .about {
    font-size: 32px;
  }

  .detail {
    font-size: 24px;
  }

}