.container {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.top {
  width: 100%;
  background-color: #00838f;
  text-align: center;
}

.bgImage {
  width: 350px;
  margin: 0 auto;
}

.second {
  width: 100%;
  text-align: center;
  background-color: #00838f;
}

.startSecssion {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.force {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.about {
  padding-bottom: 3px;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 2px #000;
}

.detail {
  font-size: 16px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 100%;
}

.form {
  margin: 24px;
}

.name {
  display: block;
  margin: 0 auto;
  background-color: white;
  color: black;
  margin-bottom: 12px;
  width: 300px;
  height: 65px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 #000;
}

.startButton {
  width: 200px;
  height: 70px;
  border-radius: 12px;
  border: 2px solid white;
  background-color: #00838f;
  box-shadow: 0 1px 1px 0 #000;
  color: white;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 18px;
}

.startButton:hover {
  background-color: #006064;
}

.titleSecssion {
  padding-top: 32px;
  margin-bottom: 12px;
  text-align: center;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  border-radius: 6px;
  border: none;
  background-color: #00838f;
  color: white;
  box-shadow: 0 1px 1px 0 #ccc;
  text-shadow: 1px 1px 2px #000;
}

.SplideSession {
  width: 100%;
  height: auto;
  background-color: #F7F1E5;
  padding-top: 12px;
}

.SplideWrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.SplideItem {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 #ccc;
  padding: 18px;
  margin-bottom: 12px;
}

.bgImage,
.about,
.name,
.startButton {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeup {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Splide {
  width: 100%;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 6px;
}

.secssionItem {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}

.secssionText {
  width: 100%;
  height: 48px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appNameSction {
  font-size: 24px;
}

.appName {
  font-size: 32px;
  font-family: "Courier New";
}

.appName,
.appNameSecsion {
  margin: 12px;
}

.screenImange {
  width: 300px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 #ccc;
  background-color: white;
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 32px;
}

@media screen and (min-width:768px) and (max-width:1024px) {

  /*　for iPad 　*/

  .bgImage {
    width: 600px;
    margin: 0 auto;
  }

  .detail {
    font-size: 16px;
    width: 100%;
    height: 200px;
    font-size: 24px;
  }

  .about {
    font-size: 32px;
  }

  .startSecssion {
    width: 100%;
    height: 350px;
  }

}

@media screen and (min-width:1024px) {

  /*　for PC 　*/

  .bgImage {
    width: 1000px;
    margin: 0 auto;
  }

  .detail {
    font-size: 16px;
    width: 100%;
    height: 200px;
    font-size: 24px;
  }

  .about {
    font-size: 32px;
  }

  .startSecssion {
    width: 100%;
    height: 350px;
  }

  .bar {
    font-size: 18px;
  }

  .section {
    width: 80%;
  }

  .SplideSession {
    width: 100%;
    height: auto;
    background-color: #F7F1E5;
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .SplideWrap {
    width: 1024px;
    margin: 0 auto;
  }

  .SplideItem {
    width: 480px;
  }
}