.container {
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

.secssion {
    height: auto;
    width: 99%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 12px;
    border: 1px solid #00838f;
}

.top,
.secsionName {
    color: black;
    font-size: 18px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-color: #00838f;
    color: white;
    box-shadow: 0 2px 5px gray;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.name,
.mail {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .5);
    border: 1px solid #00838f;
    display: flex;
    justify-content: left;
    align-items: center;
}

.detail {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    overflow: auto;
    border: 0.5px solid #00838f;
    box-shadow: 0 1px 1px gray;
}

.buttonArea {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.cancel {
    width: 200px;
    height: 60px;
    margin: 16px;
    border: 1px solid #00838f;
    border-radius: 12px;
    background-color: white;
    color: #00838f;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    font-size: 18px;
}

.push {
    width: 200px;
    height: 60px;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    font-size: 18px;
    border: 1px solid #00838f;
    background-color: #00838f;
    color: white;
    animation: change-color-anim 2s linear infinite;
}

.push:hover {
    background-color: #006064;
}

.enable {
    border: 1px solid #00838f;
    background-color: #00838f;
    color: white;
    animation: change-color-anim 2s linear infinite;
}

.enable:hover {
    background-color: #006064;
}

.disable {
    border: 1px solid gray;
    background-color: gray;
    color: white;
}

.cancel:hover {
    background-color: #e0f2f1;
}

.comlete {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seqWrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.seq {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
}

@media screen and (min-width:768px) and (max-width:1024px) {

    /*　for iPad 　*/
    .container {
        width: 650px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .container {
        width: 650px;
        margin: 0 auto;
    }
}