.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    width: 100%;
}

.header {
    height: 50px;
}

.footer {
    margin-top: auto;
    height: 32px;
}

@media screen and (min-width:480px) and (max-width:1024px) {
    /*　for iPad 　*/

}

@media screen and (min-width:1024px) {
    /*　for PC　*/
    .header {
        height: 100px;
    }
    
}