.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.titleHeader {
    display: flex;
    padding-top: 24px;
    margin-bottom: 90px;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
    flex-basis: 85%;
}

.watcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    flex-basis: 15%;
    font-size: 12px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
}

.watcherIcon {
    height: 18px;
    width: 18px;
}

.attendeesIcon {
    height: 32px;
    width: 32px;
    margin-left: 12px;
}

.attendeesText {
    margin-left: 12px;
    margin-right: 12px;
}

.message {
    margin-bottom: 90px;
}

.main {
    font-size: 18px;
    margin-bottom: 10px;
}

.sub {
    font-size: 16px;
}

.ProgressBar {
    margin: 0 auto;
    margin-top: 32px;
    width: 80%;
    height: 24px;
}

.attendees {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 64px;
    font-size: 12px;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
}

.disable {
    background-color: gray;
}

.enable {
    background-color: white;
}



@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/
    .titleHeader {
        margin-bottom: 180px;
    }

    .title {
        font-size: 20px;
    }

    .attendees {
        width: 500px;
        margin-bottom: 80px;
        border-radius: 12px;
        font-size: 16px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .titleHeader {
        margin-bottom: 180px;
    }

    .title {
        font-size: 20px;
    }

    .attendees {
        width: 500px;
        margin-bottom: 80px;
        border-radius: 12px;
        font-size: 16px;
    }
}