.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.titleSeccsion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.statusSeccsion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.attendeesSeccsion {
    width: 100%;
    height: 60%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;
    color: black;
}

.watcher {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: gray;
    width: 90%;
    height: 50%;
}

.watcherIcon {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.inner {
    width: 100%;
    height: auto;
}

.main {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.sub {
    font-size: 14px;
    color: gray;
}

.attendeesSeccsionItems {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendees {
    width: 90%;
    height: 70%;
    border-radius: 12px;
    font-size: 13px;
}

.disable {
    color: white;
    background-color: gray;
}

.enable {
    color: black;
    background-color: white;
}

.ProgressBar {
    margin: 0 auto;
    width: 80%;
    height: 24px;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .titleSeccsion {
        width: 80%;
        height: 20%;
        margin: 0 auto;
    }

    .statusSeccsion {
        width: 100%;
        height: 30%;
    }

    .attendeesSeccsion {
        width: 100%;
        height: 50%;
    }

    .attendeesSeccsionItems {
        width: 100%;
        height: 150px;
    }

    .main {
        font-size: 32px;
    }

    .sub {
        font-size: 24px;
        color: gray;
    }

    .attendees {
        width: 500px;
        font-size: 17px;
    }

    .title {
        font-size: 24px;
    }

    .ProgressBar {
        width: 50%;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/
    .titleSeccsion {
        width: 70%;
        height: 20%;
        margin: 0 auto;
    }

    .statusSeccsion {
        width: 100%;
        height: 30%;
    }

    .attendeesSeccsion {
        width: 100%;
        height: 50%;
    }

    .attendeesSeccsionItems {
        width: 100%;
        height: 150px;
    }

    .main {
        font-size: 32px;
    }

    .sub {
        font-size: 24px;
        color: gray;
    }

    .attendees {
        width: 500px;
        font-size: 18px;
    }

    .title {
        font-size: 24px;
    }

    .ProgressBar {
        width: 50%;
    }
}