.container {
    width: 95%;
    margin: 0 auto;
}

.title {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
}

.discussion {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
}

.secsionName {
    font-size: 14px;
}

.oval {
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    overflow: auto;
}

.frame {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 18px;
}

.buttonArea {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.buttonAreaItem {
    width: 150px;
    height: 50px;
    margin: 16px;
}

.errorText {
    color: red;
    font-size: 10px;
}

@media screen and (min-width:480px) {

    /*　for iPhone　*/

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    /*　for iPad 　*/
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    /*　for PC　*/

    .container {
        width: 1000px;
        margin: 0 auto;
    }
}