.container {
    min-height: 100vh;
    width: 100%;
    color: black;
    position: relative;
}

.loading {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeLineView {
    width: 100%;
    height: 100%;
}

.pageControl {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.preview,
.next {
    width: 80px;
    height: 40px;
    margin: 12px;
    border: none;
    background-color: #00838f;
    color: white;
}

.preview:hover,
.next:hover {
    background-color: #006064;
}

@media screen and (max-width:479px) {
    /*　for iPhone　*/

    .container {
        position: relative;
        display: block;
    }

    .post {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 20px;
    }

    .timeLineView {
        flex-basis: 100%;
    }

    .timeLineItems {
        width: 100%;
    }
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .timeLineView {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .post {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 30px;
    }

}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .timeLineView {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .post {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 30px;
    }

    .preview,
    .next {
        width: 100px;
        height: 50px;
        margin: 24px;
    }
}