.container {
    min-height: 100vh;
    position: relative;
}

.post {
    margin: 50px;
    padding: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 3px solid white;
    background-color: white;
    color: black;
}

.post:hover {
    background-color: black;
    color: white;
}
