.container {
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

.secssion {
    height: auto;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 12px;
    border: none;
}

.title {
    font-size: 16px;
    margin-bottom: 12px;
    color: #00838f;
}

.text {
    padding: 5px;
    font-size: 14px;
    line-height: 2;
}

@media screen and (min-width:768px) and (max-width:1024px) {

    /*　for iPad 　*/
    .secssion {
        width: 95%;
        padding: 24px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .secssion {
        width: 900px;
        padding: 24px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .text {
        padding: 5px;
        font-size: 18px;
    }
}