.container {
    border: 1px solid #00838f;
    border-radius: 10px;
    padding: 3px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .5);
    background-color: white;
    color: #00838f;
}