.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.container {
    animation: fadeup 0.5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeup {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.titleSeccsion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.statusSeccsion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}

.attendeesSeccsion {
    width: 100%;
    height: 55%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;
    color: black;
}

.watcher {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: gray;
    width: 90%;
    height: 50%;
}

.watcherIcon {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.inner {
    width: 100%;
    height: auto;
}

.main {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.sub {
    font-size: 14px;
    color: gray;
}

.attendeesSeccsionItems {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disable {
    background-color: #EEEEEE;
    color: #808080;
}

.enable {
    background-color: white;
    color: #00838f;
}

.attendees {
    width: 90%;
    height: 80%;
    border: none;
    position: relative;
    font-size: 13px;
    color: black;
    border-radius: 12px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 #ccc;
}

.attendeesText {
    margin-left: 12px;
    margin-right: 12px;
}

.win,
.lose,
.draw {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.win {
    color: red;
}

.lose {
    color: blue;
}

.draw {
    color: green;
}

.return {
    width: 200px;
    height: 70px;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 gray;
    border: none;
    background-color: #00838f;
    color: white;
    font-size: 16px;
}

.return:hover {
    background-color: #006064;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .titleSeccsion {
        width: 70%;
        height: 15%;
        margin: 0 auto;
    }

    .statusSeccsion {
        width: 100%;
        height: 30%;
    }

    .attendeesSeccsion {
        width: 100%;
        height: 55%;
    }

    .attendeesSeccsionItems {
        width: 100%;
        height: 140px;
    }

    .main {
        font-size: 32px;
    }

    .sub {
        font-size: 24px;
        color: gray;
    }

    .attendees {
        width: 500px;
        font-size: 17px;
    }

    .title {
        font-size: 24px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .titleSeccsion {
        width: 70%;
        height: 15%;
        margin: 0 auto;
    }

    .statusSeccsion {
        width: 100%;
        height: 30%;
    }

    .attendeesSeccsion {
        width: 100%;
        height: 55%;
    }

    .attendeesSeccsionItems {
        width: 100%;
        height: 140px;
    }

    .main {
        font-size: 32px;
    }

    .sub {
        font-size: 24px;
        color: gray;
    }

    .attendees {
        width: 500px;
        font-size: 18px;
    }

    .title {
        font-size: 24px;
    }
}