.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 100px;
}

.message {
    font-size: 18px;
    margin-bottom: 90px;
}

.main {
    font-size: 20px;
    margin-bottom: 10px;
}

.attendees {
    display: flex;
    align-items: center;
    width: 340px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 64px;
    font-size: 14px;
    border-radius: 12px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.center {
    width: 120px;
}

.win {
    color: red;
    font-size: 24px;
    margin: 12px;
}

.lose {
    color: blue;
    font-size: 24px;
    margin: 12px;
}

.draw {
    color: green;
    font-size: 24px;
    margin: 12px;
}

.resultArea {
    width: 100%;
    margin-bottom: 140px;
}

.return {
    width: 240px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .title {
        margin-bottom: 180px;
    }

    .message {
        font-size: 24px;
        margin-bottom: 180px;
    }

    .attendees {
        font-size: 18px;
        width: 500px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .title {
        margin-bottom: 180px;
    }

    .message {
        font-size: 24px;
        margin-bottom: 180px;
    }

    .attendees {
        font-size: 18px;
        width: 500px;
    }
}