.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 12px;
}

.detail {
    background-color: white;
    color: black;
    white-space: pre-wrap;
    width: 95%;
    height: 120px;
    font-size: 14px;
    border: 1px solid black;
    margin: 0 auto;
    resize: none;
    margin-bottom: 20px;
}

.selectItems {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.selectItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 80px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 30px;
}

.selectItem:hover {
    background-color: black;
    color: white;
}

.joinButton {
    background-color: #4D84F4;
    color: white;
    width: 240px;
    height: 70px;
}

.joinButton:hover {
    background-color: greenyellow;
    color: white;
}

.itemDisable {
    background-color: gray;
}

/* iPhone 縦 */

@media screen and (max-width:480px) {
    /*　for iPhone　*/

    .selectItem {
        width: 350px;
        height: 80px;
    }
}

@media screen and (min-width:480px) and (max-width:1024px) {
    /*　for iPad 　*/

    .selectItem {
        width: 450px;
        height: 80px;
    }
}

@media screen and (min-width:1024px) {
    /*　for PC　*/

}