.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 16px;
    width: 95%;
    height: 10%;
    margin: 0 auto;
    color: black;
}

.detail {
    resize: none;
    width: 95%;
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 gray;
    white-space: pre-wrap;
}

.selectItems {
    width: 100%;
    height: 45%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-top: 24px;
}

.selectItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.attendees {
    width: 90%;
    height: 75px;
    padding: 0;
    border-radius: 12px;
    font-size: 12.5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 gray;
}

.attendeesText {
    margin-left: 12px;
    margin-right: 12px;
}

.buttonSecssion {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 gray;
    border: none;
    font-size: 16px;
}

.disable,
.buttonDisable {
    background-color: gray;
    color: white;
}

.enable {
    background-color: white;
    color: #00838f;
}

.enable:hover {
    background-color: #eceff1;
}

.buttonEnable {
    background-color: #00838f;
    color: white;
}

.buttonEnable:hover {
    background-color: #006064;
}

.selected {
    background-color: #00838f;
    border: 1px solid #00838f;
    color: white;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .title {
        font-size: 20px;
    }

    .detail {
        width: 650px;
        font-size: 20px;
    }

    .selectItems {
        height: 330px;
    }

    .attendees {
        width: 420px;
        height: 80px;
        padding: 0;
        border-radius: 12px;
        font-size: 18px;
    }

    .joinButton {
        width: 250px;
        height: 80px;
        font-size: 18px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .title {
        font-size: 20px;
    }

    .detail {
        width: 650px;
        font-size: 20px;
    }

    .selectItems {
        height: 320px;
    }

    .attendees {
        width: 420px;
        height: 80px;
        padding: 0;
        border-radius: 12px;
        font-size: 18px;
    }

    .joinButton {
        width: 250px;
        height: 80px;
        font-size: 18px;
    }
}