/*　for iPhone　*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin-bottom: 5px;
    font-size: 1rem;
    position: relative;
    font-family: '源ノ角ゴシック';
}

.container:hover {
    background-color: #e0f2f1;
}

.status {
    text-align: center;
    flex-basis: 20%;
}

.progress {
    font-size: 14px;
    width: 70px;
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 40px;
}

.roomNum {
    color: gray;
    font-size: 12px;
}

.contents {
    margin-bottom: 5px;
    flex-basis: 80%;
}

.title {
    text-align: left;
    font-size: 14px;
    padding-right: 12px;
    margin-top: 12px;
    margin-bottom: 16px;
    padding-left: 5px;
    width: 100%;
    color: black;
}

.discussionLabelContainer {
    width: 100%;
}

.discussionLabelItems {
    width: 290px;
    height: 28px;
    margin-bottom: 7px;
    text-align: left;
}

.discussionLabelItemsWatcher {
    width: 60px;
    font-size: 10px;
    height: 24px;
    margin-bottom: 7px;
}

.attendessContainer {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.attendessText {
    margin-left: 5px;
}

.watcherCount {
    display: flex;
    align-items: center;
}

.userIcon {
    width: 15px;
    height: 15px;
}

.watcherText {
    font-size: 14px;
    margin-left: 3px;
}

.contensFooter {
    text-align: right;
}

.date {
    margin-right: 10px;
    font-size: 10px;
    color: gray;
}

.roomNum {
    margin: 5px;
}

.postIcon {
    width: 50px;
    height: 50px;
}

.makeRoomText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .discussionLabelItems {
        width: 80%;
        height: 32px;
        margin-bottom: 18px;
    }

    .discussionLabelItemsWatcher {
        height: 32px;
    }

    .progress {
        width: 100px;
        font-size: 1.3rem;
    }

    .roomNum {
        font-size: 1rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .attendessContainer,
    .watcherText {
        font-size: 1rem;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/
    .discussionLabelItems {
        width: 80%;
        height: 32px;
        margin-bottom: 18px;
    }

    .discussionLabelItemsWatcher {
        height: 32px;
    }

    .progress {
        width: 100px;
        font-size: 1.3rem;
    }

    .roomNum {
        font-size: 1rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .attendessContainer,
    .watcherText {
        font-size: 1rem;
    }
}