/*　for iPhone　*/

.container {
    width: 100%;
    display: flex;
    border-radius: 6px;
    background-color: #fafafa;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
}

.container:hover {
    border: 2px solid #00838f;
}

.status {
    text-align: center;
    flex-basis: 20%;
}

.progress {
    font-size: 12px;
    width: 70px;
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 40px;
}

.contents {
    margin-bottom: 5px;
    flex-basis: 80%;
}

.title {
    text-align: left;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 16px;
    padding-left: 5px;
    width: 100%;
}

.discussionLabelContainer {
    width: 100%;
}

.discussionLabelItems {
    width: 290px;
    font-size: 10px;
    height: 28px;
    margin-bottom: 7px;
    text-align: left;
}

.discussionLabelItemsWatcher {
    width: 60px;
    font-size: 10px;
    height: 24px;
    margin-bottom: 7px;
}

.attendessContainer {
    display: flex;
    align-items: center;
}

.attendessText {
    margin-left: 5px;
}

.watcherCount {
    display: flex;
    align-items: center;
}

.userIcon {
    width: 15px;
    height: 15px;
}

.watcherText {
    font-size: 10px;
    margin-left: 3px;
}

.contensFooter {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.date {
    margin-right: 5px;
    font-size: 10px;
    color: gray;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .container {
        width: 100%;
    }

    .discussionLabelItems {
        width: 300px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .container {
        width: 100%;
    }

    .discussionLabelItems {
        width: 350px;
    }
}