.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:480px) {

    /*　for iphone 　*/

    .timeLineItem {
        width: 100%;
        min-height: 150px;
        margin-top: 5px;
    }

}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .timeLineItem {
        width: 80%;
        min-height: 150px;
        margin: 10px;
    }
}


@media screen and (min-width:1024px) {

    /*　for PC　*/
    .timeLineItem {
        width: 700px;
        min-height: 200px;
        margin: 10px;
        font-size: 18px;
    }
}