.container {
    width: 100%;
    height: 100%;
}

.secssionFillter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.secssionView {
    width: 100%;
}

.selectItem {
    width: 120px;
    height: 50px;
    margin: 12px;
    border-radius: 12px;
    font-size: 18px;
    background-color: white;
    border: 2px solid #00838f;
    color: #00838f;
}

.selectItem:hover {
    background-color: #CBE4DE;
}

.selected {
    background-color: #00838f;
    color: white;
}

.selected:hover {
    background-color: #006064;
}

.view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeLineItem {
    width: 100%;
    min-height: 200px;
    margin-top: 5px;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .timeLineItem {
        width: 85%;
        min-height: 220px;
        font-size: 18px;
        margin-top: 5px;
    }
}


@media screen and (min-width:1024px) {

    /*　for PC　*/

    .timeLineItem {
        width: 600px;
        min-height: 240px;
        margin: 10px;
        font-size: 18px;
    }
}