/*　for iPhone　*/

.container {
    width: 100%;
    height: 160px;
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
}

.container:hover {
    background-color: greenyellow;
    color: black;
}

.status {
    text-align: center;
    flex-basis: 20%;
    height: 160px;
}

.progress {
    font-size: 12px;
    width: 70px;
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 40px;
}

.userIcon {
    width: 70px;
    margin: 0 auto;
}

.contents {
    height: 160px;
    flex-basis: 80%;
}

.title {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 16px;
    padding-left: 5px;
    width: 100%;
}

.discussionLabelContainer {
    width: 100%;
}

.discussionLabelItems {
    width: 280px;
    font-size: 10px;
    height: 24px;
    margin-bottom: 5px;
}

.discussionLabelItemsWatcher {
    width: 50px;
    font-size: 10px;
    height: 24px;
    margin-bottom: 5px;
}

.date {
    text-align: right;
    margin-right: 5px;
    font-size: 11px;
    height: 20px;
    color: gray;
}

@media screen and (min-width:480px) and (max-width:1024px) {
    /*　for iPad 　*/
}

@media screen and (min-width:1024px) {

    /*　for PC　*/
    .container {
        width: 100%;
        height: 160px;
    }
}