.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    padding-top: 24px;
    margin-bottom: 90px;
    margin-left: 12px;
    margin-right: 12px;
}

.message {
    font-size: 18px;
    margin-bottom: 70px;
}

.main {
    font-size: 18px;
    margin-bottom: 10px;
}

.sub {
    font-size: 16px;
    margin-bottom: 10px;
}

.selectItem,
.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 340px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 45px;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    border: 1px outset black;
    background-color: white;
    color: #00838f;
}

.selected {
    border: 1px inset #00838f;
    background-color: #00838f;
    color: white;
}

.selectItem:hover {
    background-color: #e0f2f1;
}

.attendeesText {
    margin-left: 12px;
    margin-right: 12px;
}

.voteButton {
    width: 240px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 12px;
    color: white;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
}

.disable {
    background-color: gray;
}

.enable {
    background-color: #00838f;
}

.enable:hover {
    background-color: #006064;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .title {
        font-size: 20px;
    }

    .message {
        font-size: 24px;
        margin-bottom: 180px;
    }

    .main {
        font-size: 24px;
    }

    .sub {
        font-size: 20px;
    }

    .selectItem {
        width: 500px;
        margin-bottom: 50px;
        border-radius: 12px;
    }

}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .title {
        font-size: 20px;
    }

    .message {
        font-size: 24px;
        margin-bottom: 180px;
    }

    .main {
        font-size: 24px;
    }

    .sub {
        font-size: 20px;
    }

    .selectItem {
        width: 500px;
        margin-bottom: 50px;
        border-radius: 12px;
    }
}