.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 90px;
}

.message {
    font-size: 18px;
    margin-bottom: 90px;
}

.main {
    font-size: 20px;
    margin-bottom: 10px;
}

.sub {
    font-size: 16px;
    margin-bottom: 10px;
}

.selectItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: white;
    color: black;
}

.selectItem:hover {
    background-color: black;
    color: white;
}

.voteButton {
    width: 280px;
    height: 80px;
}

.voteButton:hover {
    background-color: black;
    color: white;
}

.disable {
    background-color: gray;
    color: black;
}

.enable {
    background-color: white;
    color: black;
}

@media screen and (min-width:480px) and (max-width:1024px) {
    /*　for iPad 　*/
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .title {
        margin-bottom: 180px;
    }

    .message {
        font-size: 24px;
        margin-bottom: 180px;
    }

    .selectItem {
        width: 500px;
        margin-bottom: 30px;
        border-radius: 12px;
    }

}