.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 90px;
}

.message {
    margin-bottom: 90px;
}

.main {
    font-size: 20px;
    margin-bottom: 10px;
}

.sub {
    font-size: 16px;
    margin-bottom: 10px;
}

.selectItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: white;
    color: black;
}

.selectItem:hover {
    background-color: black;
    color: white;
}

.voteButton {
    width: 280px;
    height: 80px;
}

.voteButton:hover {
    background-color: black;
    color: white;
}

.disable {
    background-color: gray;
    color: black;
}

.enable {
    background-color: white;
    color: black;
}