.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    padding-top: 24px;
    margin-bottom: 90px;
    margin-left: 12px;
    margin-right: 12px;
    color: #00838f;
}

.message {
    font-size: 18px;
    margin-bottom: 70px;
}

.main {
    font-size: 24px;
    margin-bottom: 10px;
}

.sub {
    font-size: 14px;
}

@media screen and (min-width:480px) and (max-width:1024px) {

    /*　for iPad 　*/

    .title {
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .title {
        font-size: 20px;
    }

    .main {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .sub {
        font-size: 24px;
        color: gray;
    }
}