.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 90px;
}

.message {
    font-size: 18px;
    margin-bottom: 90px;
}

.main {
    font-size: 20px;
    margin-bottom: 10px;
}

.sub {
    font-size: 16px;
}

@media screen and (min-width:480px) and (max-width:1024px) {
    /*　for iPad 　*/
}

@media screen and (min-width:1024px) {

    /*　for PC　*/

    .title {
        margin-bottom: 180px;
    }

    .message {
        font-size: 24px;
    }

}